@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Body Styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Play", sans-serif;
    letter-spacing: 1.5px;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    background-image: url('images/bg.gif');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    text-align: center;
}
h2{
    color: rgb(255, 170, 0);
}

/* Table Styles */
table {
    width: 90%;
    max-width: 800px;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #dddddd00;
    padding: 12px;
    text-align: left;
    background-color: rgba(80, 76, 76, 0.448);
    backdrop-filter: blur(10px);

}

th {
    background-color: #000000;
    color: #ffffff;
}

/* Form Styles */
form {
    margin-top: 10px;
    width: 8cm;
    
}

/* Button Styles */
button[type="submit"] {
    background-color: #000000;
    color: #ffffff;
    border: none; 
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

button[type="submit"]:hover {
    background-color: #444142;
}

/* Message Styles */
.message {
    margin-top: 20px;
    padding: 10px;
    background-color: #000000;
    border-radius: 5px;
    color: #ffffff;
    
}

/* No Data Message Styles */
.no-data {
    color: #666;
    font-style: italic;
    
}
