@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1.5px;
    margin-top: 5cm;
    padding: 0;
    color: rgb(255, 170, 0);
    font-weight: bolder;
    font-size: 20px;
    background-image: url('images/bg.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

h2 {
    color: rgb(255, 170, 0);
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="password"] {
    width: 40%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(80, 76, 76, 0.448);
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bolder;
}

button[type="submit"] {
    background-color: #e62464;
    color: white;
    border: 0px solid #ccc; 
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: #000 0 0 10px;  
    transition: all ease-in-out 0.5s;
}

button[type="submit"]:hover {
    background-color: #c6235a;
}

.error {
    color: red;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}