@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    box-sizing: border-box;
    letter-spacing: 1.5px;
    margin-top: 0;
}

label {
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 0px;
    margin-right: 10px; 
  }
  
  
  input[type="date"] {
    font-size: 15px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
    height: 30px;
    box-sizing: border-box; 
  }

body{
    min-height: 100vh;
    background-image: url('images/bg.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow:auto;
    
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px; 
    background-color: #1f437d6f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(10px);
}

.title-game{
    color: rgb(255, 170, 0);
    margin-top: 5px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
background-color: rgb(42, 33, 33);
border-radius: 0px 0px 15px 15px;


}
.Logo img {
    max-width: 2cm;
    max-height: 2cm;
    display: inline-block;
    margin-left: 1cm;
    border-radius: 10px;
    box-shadow: #433c3c 0px 0px 13px 1px;
    margin-right: 0;
    transition: box-shadow 0.3s ease; 
}

.Logo img:hover {
    box-shadow: #58ed48 0px 0px 15px 8px;
}




.title {
    background-image: linear-gradient(to right, #e12b68, #22ff22); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    margin-left: 0;
    font-family: "Bebas Neue", sans-serif;
    background-size: 200% 100%; 
    transition: background-position 1s ease-in-out; 
}

.title:hover {
    background-position: right; 
}




.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a{
    font-family: "Bebas Neue", sans-serif;
    color: #c6235a;
    margin-left: 1cm; 
    text-decoration: none;
    font-weight: 800;
    padding-right: 20px;
    font-size: 20px;
    transition: color ease-in-out 0.2s;
}
.navbar a:hover{
    color: white;
    
   
}



.search-bar {
    padding-right: 20px;
    padding-top:10px ;
    padding-bottom: 10px;
    padding-left: 15px;
    border-radius: 6px; 
    border: 1px solid #ccc; 
    margin-right: 40px;
    margin-left: 1cm;
}

.Welcome{
    color: white;
    padding-top: 4.5cm;
    text-align: center;
    
}

.search-btn{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0;
    border-radius: 6px; 
    border: 1px solid #ccc; 
    background-color: #c6235a;
    font-weight: bold;
    color: #fff;
    transition:  background-color 0.5s ease-in-out;
}

.search-btn:hover{
    cursor: pointer;
    background-color:#1375a5da;
}

footer {
    background-color: #012646cd;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .navbar2 {
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 100px;
    width: 100%;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #3333338a;
    backdrop-filter: blur(10px);
    z-index: 101;

}
.navbar2 .nav-link {
    margin-right: 1cm; 
    text-decoration: none;
    color: rgb(199, 25, 106) ;
    margin-left: 1cm;
    font-weight: bolder;
    
}


.first{
    font-family: "Bebas Neue", sans-serif;
    border: white solid 1.2px;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 11px;
    cursor: pointer;
    transition: all ease-in-out .3s;
    text-decoration: none;
    color: white;
    
} 
.first:hover{
    color: rgb(255, 145, 0);
    background-color: rgb(199, 25, 106);
    border: #000 solid 1.2px;
    
} 
.second{
    color:rgb(252, 175, 23);
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 1cm;
    line-height: 40px;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2cm; 
    margin-right: 5cm;
    margin-left: 1cm;
    margin-top: 2cm;
    backdrop-filter: blur(10px);
    
}

.grid-item {
    background-color: #5785ef68; 
    border: 1px solid #000;
    padding: 0px;
    text-align: center; 
    height: 13.8cm;
    width: 8cm;
    margin-right: 0;
    margin-left: 0;
    margin-top: 1cm;
    border-radius: 15px;
    box-shadow: #000 0 0 10px;  
    }

.grid-item img {
    max-width: 100%; 
    max-height: 100%; 
    box-shadow: #000 0 0 10px;  
    
}

.button1 {
    color: white;
    background-color: #c6235a;
    border: 0px solid #ccc; 
    position: relative;
    left: -0.3cm; 
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
    box-shadow: #000 0 0 10px;  
    cursor: pointer;
}
.button1:hover {
    color: white;
    background-color: #e62464;
    border: 0px solid #ffffff; 
    position: relative;
    left: -0.3cm; 
    margin-top: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
    box-shadow: #000 0 0 10px;  
    cursor: pointer;
}
.button1:active {
    color: rgb(255, 209, 6);
    background-color: #211b1b;
    border: 0px solid #ffffff; 
    position: relative;
    left: -0.3cm; 
    margin-top: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
    box-shadow: #ffe100 0 0 10px;  
    cursor: pointer;
}

.read-more{
    background-color: rgba(146, 240, 88, 0.681);
    border: 0px solid #ccc; 
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
    margin-left: 20px;
    box-shadow: #000 0 0 10px;  
    cursor: pointer;
}
.read-more:active{
    background-color: rgba(146, 203, 111, 0.681);
    border: 0px solid #ccc; 
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
    margin-left: 20px;
    box-shadow: #000 0 0 10px;  
    cursor: pointer;
}

.grid-item2 {
    background-color: #5785ef68; 
    border: 1px solid #000;
    padding: 0px;
    text-align: center; 
    height: 12.4cm;
    width: 2cm;
    margin-right: 0;
    margin-left: 0;
    margin-top: 1cm;
    border-radius: 15px;
    box-shadow: #000 0 0 10px;  
    }

    .grid-container2 {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 10px; 
        margin-right: 1cm;
        margin-left: 1cm;
        margin-top: 0cm;
        margin-bottom: 1cm;
        backdrop-filter: blur(10px);
        
    }
    
    .grid-item2 {
        width: 3cm; 
        height: 12.4cm; 
        overflow: hidden; 
        position: relative;
        transition: all 0.5s ease-in-out; 
    }
    
    .grid-item2:hover {
        width: 7cm; 
        box-shadow: rgb(196, 185, 65) 0px 0px 40px; 
    }
    
    .grid-item2 img {
        width: 100%;
        height: 100%;
        object-fit:cover; 
        box-shadow: 0 0 10px #000; 
    }

    .top-games p{
        color: rgb(255, 209, 6);
        margin-top: 4cm;
        margin-left: 1cm;
        font-size: 30px;
        width: 24cm;
        line-height: 50px;
        font-family: "Bebas Neue", sans-serif;
        background-color: rgb(11, 11, 17) ;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        text-align: left;
        border-top-right-radius: 200px ;
        border-bottom-right-radius: 200px ;
        border-top-left-radius: 15px ;
        border-bottom-left-radius: 15px ;
      

    }
    
  
    .grid-item3 {
        background-color: #5785ef68; 
        border: 1px solid #000;
        padding: 0px;
        text-align: center; 
        height: 12.4cm;
        width: 2cm;
        margin-right: 0;
        margin-left: 9cm;
        margin-top: 1cm;
        border-radius: 15px;
        box-shadow: #000 0 0 10px;  
        }
    
        .grid-container3 {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: repeat(1, 1fr);
            gap: 10px; 
            margin-right: 1cm;
            margin-left: 1cm;
            margin-top: 0cm;
            margin-bottom: 1cm;
            backdrop-filter: blur(10px);
            
            
        }
        
        .grid-item3 {
            width: 7cm; 
            height: 12.4cm; 
            overflow: hidden; 
            position: relative;
            
        }
        .grid-item3 img {
            max-width: 100%; 
            max-height: 100%; 
            box-shadow: #000 0 0 10px; 
            object-fit: contain; 
            
        }
        
       .main-image{
        width: 59%;
        height: 30%;
        object-fit:fill; 
        box-shadow: 0 0 10px #000; 
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom: rgb(217, 22, 113) solid 5px ;
        transition: all 0.5s;
        
 
       } 

       .main-image:hover{
        box-shadow: #773b66 2px 2px 20px 6px;
      
       }
       .play-button {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80px; 
        height: 80px;
        background-image: url('images/play.svg');
        background-size: cover;
        cursor: pointer;
    }
    a {
        color: white; 
        text-decoration: none; 
      }
    

      a:visited {
        color: rgb(255, 255, 255);
      }
  
      a:active {
        color: rgb(255, 255, 255); 
      }

      .social-icons {
        display: flex;
        justify-content:center;
        margin-top: 20px;
        align-items: center;
        gap: 0.5cm;
      }

      .fa-facebook-f{
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
        transition: all ease-in-out 1s;
      }
      .fa-facebook-f:hover{
        background-color: rgb(0, 92, 153);
        border-radius: 15px;
      }
      .fa-twitter{
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
        transition: all ease-in-out 1s;
      }
      .fa-twitter:hover{
        background-color: rgb(0, 92, 153);
        border-radius: 20px;
        padding: 2px 2px 2px 2px;
      }
      .fa-instagram{
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
        transition: all ease-in-out 1s;
      }
      .fa-instagram:hover{
        background-color: rgb(190, 0, 76);
        border-radius: 15px;
      }
      .fa-youtube{
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
        transition: all ease-in-out 1s;
      }
      .fa-youtube:hover{
        background-color: rgb(255, 0, 0);
        border-radius: 9px;
        padding: 0px 2px 0px 2px;
      }
      .fa-linkedin{
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
        transition: all ease-in-out 1s;
      }
      .fa-linkedin:hover{
        background-color: rgb(0, 92, 153);
        border-radius: 9px;
        padding: 2px 2px 2px 2px;
      }
      .fa-github{
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
        transition: all ease-in-out 1s;
      }
      .fa-github:hover{
        background-color: black;
        border-radius: 15px;
        padding: 0px 2px 0px 2px;
      }

      .handles{
        display: inline-block;
        align-items:flex-start
      }

      .categories {
        width: 20%;
        margin: 20px auto;
    }
    
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        
    }
    
    table th, table td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
        color: white;
        
    }
    
    table th {
        background-color: #d11783;
        color: white;
        
    }
    
    table tr:nth-child(even) {
        background-color: #37ff83;
        color: white;
        
    }
    




@media (max-width: 431px) {
    .header {
        padding: 1.3rem 2%;
    }

    .Logo img {
        max-width: 1.5cm;
        max-height: 1.5cm;
    }

    .search-bar {
        padding-right: 10px;
    }

    .Welcome {
        padding-top: 3cm;
    }
}


@media (max-width: 431px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(20, 1fr);
        gap: 1cm;
        margin-right: 1cm;
        margin-left: 1cm;
        margin-top: 2cm;
    }

    .grid-container2 {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
        gap: 10px;
        margin-right: 1cm;
        margin-left: 1cm;
        margin-top: 0cm;
        margin-bottom: 1cm;
        backdrop-filter: blur(10px);
    }

    .grid-item {
        height: 8cm;
        width: 7cm;
        margin-top: 0.5cm;
    }

    .button1,
    .read-more {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 10px;
    }
    body{
        min-height: 50vh;
        background-image: url('images/bg.gif');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
    }
    
footer {
    width: 100%;
  }
  .navbar {
    justify-content: space-between;
    margin: 0;
}

.navbar a {
    margin-left: 0.5rem; 
    font-size: 16px;
}

.search-bar {
    margin-right: 0rem; 
    margin-left: 0rem; 
}

.Welcome {
    padding-top: 0cm;
    width: 9.1cm;
    margin-top: 5cm;
}
}
