* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 300vh;
    background-image: url('bg.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px; 
    background-color: #1f437d6f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(10px);
}
.Logo img {
    max-width: 2cm;
    max-height: 2cm;
    display: inline-block;
    margin-left: 1cm;
    border-radius: 10px;
    box-shadow: #433c3c 0px 0px 13px 1px;
    margin-right: 0;
    transition: box-shadow 0.3s ease; 
}

.Logo img:hover {
    box-shadow: #58ed48 0px 0px 15px 8px;
}
.title {
    background-image: linear-gradient(to right, #e12b68, #22ff22); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    margin-left: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-size: 200% 100%; 
    transition: background-position 1s ease-in-out; 
}

.title:hover {
    background-position: right; 
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c6235a;
    margin-left: 1cm; 
    text-decoration: none;
    font-weight: 800;
    padding-right: 20px;
    font-size: 20px;
}

.search-bar {
    padding-right: 20px;
    padding-top:10px ;
    padding-bottom: 10px;
    padding-left: 15px;
    border-radius: 6px; 
    border: 1px solid #ccc; 
    margin-right: 10px;
    margin-left: 1cm;
}
.search-btn{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0;
    border-radius: 6px; 
    border: 1px solid #ccc; 
    background-color: #c6235a;
    font-weight: bold;
    color: #fff;
    transition:  background-color 0.5s ease-in-out;
}

.search-btn:hover{
    cursor: pointer;
    background-color:#1375a5da;
}
.navbar2 {
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 100px;
    width: 100%;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #3333338a;
    backdrop-filter: blur(10px);
    z-index: 101;
    text-align: center;

}
.navbar2 .nav-link {
    margin-right: 1cm; 
    text-decoration: none;
    color: rgb(252, 175, 23);
    margin-left: 17.5cm;
    font-weight: bolder;
    text-align: center;
    font-size: larger;
    
}

.navbar3 {
    position: fixed;
    padding-top: 20px;
    padding-bottom: 10px;
    top: 158px;
    width: 100%;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #ffffff8a;
    backdrop-filter: blur(10px);
    z-index: 101;
    padding-right: 10px;

}
.navbar3 .nav-link {
    margin-right: 1cm; 
    text-decoration: none;
    color: rgb(252, 175, 23);
    margin-left: 1cm;
    font-weight: bolder;
    
}
.navbar-brand {
    display: flex;
    align-items: center;
}

.brand-image {
    width: 5cm;
    height:5cm;
    margin-right: 10px;
}

.brand-name {
    font-size: 24px;
    margin-bottom: 5px;
    margin-left: 0;
    display: inline-block;
    text-align: center;
}


.image1{
    width: 5cm;
    height: 7cm;
    display: inline-block;
    background-color: rgba(236, 198, 30, 0.703);
    backdrop-filter: blur(10px);
    margin-right: 0;
    margin-left: 0.5cm;
    margin-top: 0cm;
    border-radius: 10px;
}
.navbar-links .nav-link {
    text-decoration: none;
    color: #ffffff;
    margin-right: 10px;
    background-color: #e90f66;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.navbar-links .nav-link:last-child {
    margin-right: 0;
}

